.status-card {
  background-color: #1f1f21;
  padding: 2rem;
  border-bottom: 0.5px solid grey;
}
.status-card:hover {
  background-color: #111111;
}

.status-card .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-card .col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.25rem;
}

.status-card .col-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-card .col-5 img {
  width: 100%;
  height: auto;
}

.vertical-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.status-card-container {
  padding-top: 2rem;
  height: 70vh;
  margin-bottom: 20px;
  max-width: 750px;
}

.order-button-area {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.order-button-area button {
  margin-left: 20px;
}

.text-align-center {
  text-align: center;
  margin-bottom: 5px;
}
.text-12 {
  font-size: 12px;
}

.no-order-box {
  background-color: #1f1f21;
  text-align: center;
  padding: 20px;
  height: 70vh;
}

.order-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.order-inf.col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-info.col-6 p {
  font-size: 1.025rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 63rem) {
  .status-card {
    margin-inline: 0.5rem;
    padding: 1.25rem;
  }
  .order-info {
    margin-left: 20px;
  }

  .status-card .col-5 {
    padding: 0;
  }
}
