.register-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 550px;
  height: 70vh;
}
.register-area h1 {
  align-self: start;
  font-weight: 700;
  margin-bottom: 2rem;
}

#policy.form-check-input {
  cursor: pointer;
}
#policy.form-check-input:focus {
  background-color: white;
  box-shadow: none;
  outline: none;
}
#policy.form-check-input:checked {
  background-color: #111111;
  border-color: white;
}
