@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
}

body {
  font-family: "Noto Sans KR";
  background-color: #1f1f21;
  color: white;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  background-color: #111111;
  padding: 0px 48px;
}
.nav-header-brand-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-header-brand-list svg {
  fill: white;
}

.nav-icon {
  margin-bottom: 5px;
}
.nav-icon span {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 12px;
}

.nav-vertical-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  border-right: 1px solid;
  height: 12px;
  margin: 12px;
}

.menu {
  display: flex;
  list-style-type: none;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  margin-left: 9rem;
}
.menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 24px;
}
.menu li a:hover {
  border-bottom: 2px solid white;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-area {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 48px;
}
.burger-menu {
  /* margin-left: 20px; */
}
.nav-header-user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-search-box {
  display: flex;
  right: 20px;
  /* position: absolute; */
  background-color: #111111;
  border-radius: 36px;
  margin-right: 12px;
}
.landing-search-box input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border: none;
  color: white;
  border-radius: 36px;
  width: 132px;
  /* background-color: #faf9f8; */
}
.landing-search-box input:focus {
  outline: none;
}
.landing-search-box input::placeholder {
  font-weight: 500;
  color: rgb(152, 152, 152);
}

.search-box {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid black;
  width: 200px;
  padding-right: 6px;
  margin-block: 20px;
  background-color: #111111;
  border-radius: 36px;
}
.admin-search-input {
  border: none;
  /* background-color: #faf9f8; */
  width: 150px !important ;
  background-color: #111111;
  color: white;
}

.search-box input {
  border: none;
  /* background-color: #faf9f8; */
  width: 124px;
  background-color: #111111;
  color: white;
}
.search-box input::placeholder {
  font-family: "Noto Sans KR";
  font-weight: 500;
}
.search-box input:focus {
  outline: none;
}
.mobile-search-box {
  position: relative;
  top: 10px;
  left: 10px;
}
.search {
  align-items: center;
}
.search-icon {
  margin-left: 10px;
}
.search input {
  border: none;
  /* background-color: #faf9f8; */
  background-color: #111111;
  padding-left: 20px;
}
.search input:focus {
  outline: none;
}
.mobile-search-box .closebtn {
  font-size: 36px;
  border: none;
  background: none;
  padding-right: 30px;
}

.landing-main-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.landing-main-title {
  font-size: 3rem;
  font-weight: 900;
}
.landing-main-subtitle {
  margin: 8px 0px 0px 0px;
}
.landing-main-btn-area {
  display: flex;
  gap: 6px;
  margin-top: 18px;
}
.landing-main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: white;
  border-radius: 30px;
  padding: 8px 16px;
  border: none;
}
.landing-main-btn:hover {
  background-color: rgb(204, 204, 204);
}

.hero-img-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 84px;
  margin-inline: 42px;
}
.hero-img-area > * {
  padding-right: 6px;
  padding-left: 6px;
}
.hero-img-wrapper {
  position: relative;
}
.hero-img-area img {
  width: 100%;
}
.hero-img-info {
  position: absolute;
  left: 50px;
  bottom: 50px;
}
.hero-img-area p {
  font-weight: 500;
  margin-bottom: 13px;
}
.hero-img-area h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.landing-hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: white;
  border-radius: 30px;
  padding: 8px 16px;
  border: none;
  margin-top: 26px;
}
.landing-hero-btn:hover {
  background-color: rgb(204, 204, 204);
}

.hero-event-area {
  margin-block: 84px;
}
.hero-event-area img {
  width: 100%;
}
.hero-event-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero-event-wrapper {
  text-decoration: none;
}
.hero-event-subtitle {
  margin-top: 36px;
  margin-bottom: 8px;
  font-weight: 500;
}
.hero-event-title {
  font-size: 3.05rem;
  font-weight: 900;
}
.hero-event-desc {
  text-align: center;
  line-height: 1.75rem;
  margin-bottom: 0;
}

.card {
  padding-top: 2rem;
  background: none;
  border: none !important;
  margin-bottom: 10px;
  cursor: pointer;
}
.card:hover .card-image {
  transform: perspective(700px) rotateY(3deg) rotateX(-3deg);
  z-index: 1;
}
.card-image {
  /* object-position: center 0%; */
  object-fit: cover;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;
}
.card-title {
  font-size: 1rem;
  font-weight: 700;
  margin-block: 0.25rem;
}
.card-price {
  font-size: 0.825rem;
  margin: 0;
}

.choice {
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.error-message {
  text-align: left;
  width: 100%;
}

.drop-down {
  margin-top: 20px;
}

.add-button {
  margin-top: 20px;
  width: 100%;
}

.hide {
  visibility: hidden;
}

.side-menu {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1f1f21;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.side-menu-list button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin: 5px;
  border: none;
  background: none;
  width: 100%;
  padding: 8px 24px 8px 36px;
}

.side-menu .closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #111111;
  padding: 4px 16px 4px 12px;
  border-radius: 30px;
}
.side-menu-search input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  outline: none;
  border: none;
  height: 36px;
  background-color: #111111;
}

#sidebar-wrapper {
  min-height: 100vh !important;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* width: 100vw; */
  /* margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; */
}

.sidebar-logo {
  padding: 1rem;
}
.sidebar-item {
  color: white;
  font-weight: bold;
  padding: 20px 10px;
  list-style-type: none;
}
.sidebar-item:hover {
  color: white;
  background-color: #1f1f21;
  font-weight: bold;
  cursor: pointer;
}
.sidebar-area {
  padding-left: 0;
}
.sidebar {
  max-width: 300px;
  padding: 20px;
  background-color: #111111;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 40px;
}
.mobile-sidebar-toggle {
  display: none;
}

.display-flex {
  display: flex;
  align-items: center;
}

.admin-layout {
  display: flex;
}

.link-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin-bottom: 4px;
}
.link-area:hover {
  color: #e5e5e5;
}

.landing-video-player {
  pointer-events: none;
}
.video-react-control-bar {
  display: none !important;
}

@media screen and (max-width: 63rem) {
  .hide {
    visibility: visible;
  }
  .menu {
    display: none;
  }

  .nav-icon:last-child {
    margin-right: 0px;
  }
  .nav-header {
    display: flex;
    justify-content: center;
    padding: 0px;
  }

  .nav-menu-area {
    padding: 0px 24px;
  }

  .sidebar-toggle {
    display: none;
  }
  .mobile-sidebar-toggle {
    display: block;
  }
  .sidebar {
    max-width: 100%;
    padding: 0px;
    /* margin-bottom: 0; */
  }
  .mobile-sidebar {
    max-height: 104px;
  }

  .nav-header-brand-list {
    padding: 48px 0px 24px 0px;
    gap: 0;
    flex-direction: column;
    align-items: start;
    width: 100%;
    list-style: none !important;
  }
  .nav-header-brand-list a {
    padding: 8px 24px 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
  }
  .nav-header-brand-list svg {
    width: 32px;
    height: 32px;
  }
  .nav-header-brand-list p {
    margin: 0;
    font-size: 16px;
    color: white;
    list-style: none !important;
    padding-left: 12px;
  }
}
